.DS_Store
*.swp
*.swo
.idea/
.vscode/
node_modules/
build/
dist/
out/
*.pdf
*.docx
*.pptx
!docs/**/*.pdf
!textbook/level-*.pdf
!textbook/pelajaran-*/index.pdf
!workbook/level-*.pdf
!workbook/pelajaran-*/index.pdf
!assets/**/*.pdf
_build/cache/
